body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
h3{
    text-align: justify;
}
.name_color{
    color: rgb(76, 211, 76);
}
.flexible_container{
    display: flex;
    margin-bottom: 150px;
}

.section_width{
    width: 50%;
    padding-left: 70px;
}
.section_width img{
    width: 90%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(rgb(76, 211, 76),rgb(49, 148, 49));
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: honeydew;
    box-shadow: 5px 5px 40px gray; 
    
}
.link_button:hover{
    background:rgb(49, 148, 49);
    color: rgb(231, 243, 236);
}
.first_section{
    background-image: url(showoff/1ST_BACKGROUND1.1.png);
    background-repeat: no-repeat;
}
.section2_div{
    width: 50%;
    margin-right: 70px;
}

.section2_div img{
    width: 100%;
   
}

.work_button{
    text-decoration: none;
    background-image: linear-gradient(rgb(76, 211, 76),rgb(49, 148, 49));
    color: whitesmoke;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px .5em gray; 
    cursor: pointer;
}
.work_button:hover{
    background:rgb(49, 148, 49);
    color: rgb(231, 243, 236);
}

  
.experience_item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
.experience_item:hover{
    background: linear-gradient(rgb(76, 211, 76),rgb(2, 39, 2));
    color: rgb(231, 243, 236);
}
.Work_section{
    background-image: url(showoff/2nd_BACKGROUND1.1.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-bottom: 50px;
}
.experience_area{
    background-image: url(showoff/3RD_BACKGROUND.png);
    background-repeat: no-repeat;
    background-position: left;
}

#web-dev-experience{
    border-left: 5px solid green;
    border-image: linear-gradient(rgb(2, 39, 2),rgb(76, 211, 76));
    border-image-slice: 1;
}
#baby-dev-experience{
    border-left: 5px solid green;
    border-image: linear-gradient(rgb(76, 211, 76),rgb(2, 39, 2));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: grey
}