body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
.name_color{
    color: rgb(76, 211, 76);
}
section{
    display: flex;
}

.section_width{
    width: 50%;
    padding-left: 70px;
}
.section_width img{
    width: 90%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(rgb(76, 211, 76),rgb(49, 148, 49));
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: honeydew;
    
}
.first_section{
    background-image: url(showoff/1ST_BACKGROUND1.1.png);
    background-repeat: no-repeat;
}